<ion-header>
  <ion-title>
    <h2>WHO AM I?</h2>
  </ion-title>
</ion-header>

<ion-content>
  <ion-card>
  <img src="assets/PROFILE.jpg"/>
  <div class="card-title">JUVELYN S. JUSAYAN</div>
</ion-card>

<ion-list>
  <ion-item>
    <ion-icon name="home" slot="start"></ion-icon>
    <ion-label>Lives in Brgy. Balud Capoocan Leyte</ion-label>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-icon name="location" slot="start"></ion-icon>
    <ion-label>Escobar St. Balud Capoocan Leyte</ion-label>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-icon name="school" slot="start"></ion-icon>
    <ion-label> Eastern Visayas State University Carigara, Campus </ion-label>
  </ion-item>
</ion-list>
<ion-list>
  <ion-item>
    <ion-icon name="basketball" slot="start"></ion-icon>
    <ion-label> Volleyball & Badmenton </ion-label>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-icon name="heart" slot="start"></ion-icon>
    <ion-label>SINGLE</ion-label>
  </ion-item>
</ion-list>
</ion-content>