<ion-header>
 
  <ion-title>
    <h2>Image Gallery</h2>
  </ion-title>

</ion-header>

<ion-content class="card=background-page">

<ion-card>
  <img src="assets/1.jpg"/>
</ion-card>

<ion-card>
  <img src="assets/2.jpg"/>
</ion-card>

<ion-card>
  <img src="assets/3.jpg"/>
</ion-card>

<ion-card>
  <img src="assets/4.jpg"/>
</ion-card>

<ion-card>
  <img src="assets/5.jpg"/>
</ion-card>

<ion-card>
  <img src="assets/6.jpg"/>
</ion-card>

<ion-card>
  <img src="assets/7.jpg"/>
</ion-card>

<ion-card>
  <img src="assets/8.jpg"/>
</ion-card>

<ion-card>
  <img src="assets/9.jpg"/>
</ion-card>

<ion-card>
  <img src="assets/10.jpg"/>
</ion-card>

<ion-card>
  <img src="assets/11.jpg"/>
</ion-card>

<ion-card>
  <img src="assets/12.jpg"/>
</ion-card>

<ion-card>
  <img src="assets/13.jpg"/>
</ion-card>

<ion-card>
  <img src="assets/14.jpg"/>
</ion-card>

<ion-card>
  <img src="assets/15.jpg"/>
</ion-card>

</ion-content>